@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-dots .slick-active div{
    border-right: 3px solid #262626 !important;
    color: #262626 !important;
}
@media(max-width:640px){
    .slick-dots{
        left: 0 !important;
    }
    .ami{
        padding: 0px !important;
        
    }
}